In [1]:
import pandas as pd
import numpy as np

In [2]:
#uploading data
rtc=pd.read_csv('rtc_code.csv')

In [3]:
#sorting values in ascending order
rtc.sort_values("cval", axis =0, ascending = True, 
                 inplace = True)

In [4]:
#checking bottom values
rtc.tail()

   index        cval
4      5  4469272.50
3      4  4523405.69
2      3  5026909.05
1      2  6623019.70
0      1  8218812.51

In [5]:
#finding total sum consumption value
sum=0
for each in rtc['cval']:
    sum=sum+each

In [6]:
sum

214405439.39000002

In [7]:
#finding cumulative values
rtc.cumsum()

       index          cval
1295    1296  0.000000e+00
1243    2540  0.000000e+00
1244    3785  0.000000e+00
1245    5031  0.000000e+00
1246    6278  0.000000e+00
...      ...           ...
4     840446  1.900133e+08
3     840450  1.945367e+08
2     840453  1.995636e+08
1     840455  2.061866e+08
0     840456  2.144054e+08

[1296 rows x 2 columns]

In [8]:
#classifying each value according the range:
#create a column named 'class' and fill each cell with its respective column

rtc['class']=''
i=0
for i in range(0,len(rtc['cval'])):
    if rtc['cval'][i]<= 0.7*sum:
        rtc['class'][i]= 'A'
    if (0.9*sum)>rtc['cval'][i]>(0.7*sum):
        rtc['class'][i]='B'
    if (sum>=rtc['cval'][i]>=0.9*sum):
        rtc['class'][i]='C'

C:\Users\sandystark\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy